@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.confirm {

    &__wrapper {
        padding-bottom: 50px;
    }

    &__title {
        border-radius: 0 0 999px 999px;
    }

    &__text { 

    }

    &__dl {

        dt {

        }

        dd {
            
        }

        p {
            
        }

    }

    &__back {
        width: 200px;
        height: 100px;
        display: inline-block;
        background: lightsalmon;
        color:#fff;
        border-radius: 10px;
    }

    &__submit {
        width: 200px;
        height: 100px;
        display: inline-block;
        background: lightseagreen;
        color: #fff;
        border-radius: 10px;
    }

}