@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.flow {
  background: lightyellow;
  &__wrapper {
    border-radius: 10px;
    background: #fff;
    padding: 40px;
    @include mq("tab") {
      width: 80%;
    }

    @include mq() {
      width: 90%;
      padding: 20px;
    }
    
  }

  &__title {
  }

  &__lists {
    margin: $marginCenter;
    // border: 8px double rgb(76, 153, 81);
    border : 8px double  $color-bg-base;
    padding: 30px;

    @include mq {
      padding: 10px;
    }
  }
  &__list {
    a {
      display: inline-block;
      padding: 4px 2px;
      margin-bottom: 10px;

      @include mq("tab") {
        font-size: 1rem;
      }

      @include mq() {
        
        margin-bottom: 4px;
      }
    }
  }

  &__content {
    margin: $marginCenter;
    margin-top: 80px;
    @include mq("tab") {
      margin-top: 40px;
    }

    @include mq() {
      margin-top: 20px;
    }
  }

  &__dl {
    margin-top: 40px;
    @include mq() {
      
      margin-top: 20px;
    }
    &:nth-of-type(2n) {
      color: rgb(0, 83, 11);
    }
    &:nth-of-type(2n + 1) {
      color: rgb(51, 0, 105);
    }
    dt {
      i {
        margin-right: 8px;
      }
    }

    dd {
      color: $font-base-color;
      @include mq() {
        
      }
    }
  }
}
