@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.jobchnger {
  &__wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    @include mq() {
      padding: 20px;
    }
  }

  &__title {
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  &__textbox {
    box-shadow: 0px 2px 6px #7e7e7e7e;
    @include mq("pc") {
      width: calc($w100 / 3 - 36px);
      margin: 0 16px;
      padding: 10px 20px;
    }
    @include mq("tab") {
      width: calc($w100 / 2 - 28px);
      margin: 8px 12px;
      padding: 10px 16px;
    }
    @include mq("md") {
      width: $w100;
      margin: 0;
      padding: 10px;
      margin-top: 0.8rem;
    }
    

    p {
    }
  }
  &__subtitle {
    font-size: 2.4rem;
    margin-bottom: 20px;
    background: $color-bg-base;
    border-radius: 0 999px 0 0;

    @include mq() {
      font-size: 1.6rem;
    }
  }
}
