@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.pea {
  &__wrapper {
    
    background: #fff;
    border-radius: 10px;
    @include mq("tab") {
      width: 100%;
    }
    padding: 40px;
    @include mq() {
      padding: 20px;
    }
  }

  &__title {
  }

  &__text {
    margin-top: 80px;
    margin: $marginCenter;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 2.4rem;
    @include mq() {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 3rem;
    @include mq() {
      margin-top: 3rem;
    }
  }

  &__description {
    width: 50%;
    padding: 40px;
    box-shadow: 0 6px 6px #7e7e7e inset;

    @include mq() {
    width: 100%;
    }
    h3 {
      margin-bottom: 10px;
    }
    &:nth-child(odd) {
      background: rgba(255,255,0,0.1);
    }

    &:nth-child(2n) {
      background: rgba(0,255,255,0.1);
    }

    p {

    }
    ul {
      list-style:disc;
      li {

      }
    }
  }
  
  &__img {
    width: calc($w100 / 2);
    text-align: center;
    margin-top: 40px;
    img {
      width: 100%;
      height: auto;
      width: 50%;
    }
  }

  &__image {
    width: 50%;
    margin: 0 auto 40px;
    @include mq() {
      width: 80%;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
