@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.pea {
  &__wrapper {
    width: 600px;
    background: #fff;
    border-radius: 10px;
    @include mq("tab") {
      width: 100%;
    }
    padding: 40px;
    @include mq() {
      padding: 20px;
    }
  }

  &__title {
  }

  &__text {
    margin-top: 80px;
    margin: $marginCenter;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 3rem;
    @include mq() {
      margin-top: 3rem;
    }
    
    
  }
  &__img {
    width: calc($w100 / 2);
    text-align: center;
    img {
      width: 50%;
    }
  }
}
