@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.topPage {
  position: fixed;
  background: url(#{$imgPath}items/angle-double-up.svg) no-repeat center center / contain;
  width: 80px;
  height: 80px;
  bottom: 100px;
  right: 40px;

  @include mq() {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}

.footer {
  // background: rgb(92, 179, 92);
  background: $color-bg-base;
  &__logo {
    img {
    }
  }

  &__menu {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: calc($w100 / 4);
      text-align: center;

      @include mq('tab') {
        width: calc($w100 / 3);
      }
      
      @include mq() {
        width: calc($w100 / 2);
      }
      a {
        display: inline-block;
        color: #fff;
        padding: 10px 4px;
        transition: 0.3s;
        @include mq() {
         font-size: .1rem;
        }
        &:hover {
          background: #fff;
          color: rgb(92, 179, 92);
          text-decoration: underline rgb(92, 179, 92);
        }
      }
    }
  }
  p {
    font-size: 14px;  
    text-align: center;
    padding: 30px 0;
    color:#fff;

    @include mq() {
      font-size: 0.7rem;
    }
  }
}
