@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;
.header {
  position: fixed;
  z-index: 500;
  &__logo {
    width: 200px;
    margin: auto 0;
    background: transparent;
    img {
      width: $w100;
    }
  }

  .header__btn {
    width: 60px;
    height: 60px;
    top: 50px;
    right: 50px;
    transition: 0.6s;
    position: relative;
    position: fixed;
    z-index: 300;

    @include mq() {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
    }
    span {
      position: absolute;
      width: 100%;
      background-color: #000;
      height: 2px;
      transition: ease 0.4s;
      display: block;

      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 50%;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    &.active {
      transition: 0.6s;
    }

    &.active > span {
      background: #fff;
      height: 4px;
      border-radius: 10px;
      &:nth-of-type(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &__nav {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    padding: 0;
    width: $w100;
    z-index: 200;
    &.active {
      display: block;
      
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      li {  

        a {
          color: #fff;
          font-size: 2.4rem;
          padding: 30px 0;
          display: block;
          transition: 0.3s;
          @include mq() {
            padding: 10px 0;
          }
          &:hover {
            text-decoration: underline;
            background: red;
            color: #fff;
          }
        }
      }
    }
  }

  &__bg.active {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    transition: 0.6s;
  }
}
//-----------------top-------------------------
.top {
  position: relative;

  img {
    height: 100%;
  }

  &__text {
    font-size: 3.2rem;
    font-weight: bold;
    @include mq("tab") {
      font-size: 1.8rem;
    }

    @include mq() {
      font-size: 1rem;
    }
    &-up {
      // color: #fff;
      position: absolute;
      top: 25%;
      left: 10%;
      transform: translateX(-10%);
      z-index: 12;
      animation: top-text-up 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      @keyframes top-text-up {
        0% {
          letter-spacing: -0.5em;
          transform: translateZ(-700px) translateY(-500px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }
    }

    &-down {
      // color: #fff;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateX(-10%);
      z-index: 12;
      animation: top-text-down 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      @keyframes  top-text-down{
        0% {
          letter-spacing: 1em;
          transform: translateZ(400px) translateY(300px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__bg {
    width: 600px;
    height: 300px;
    background: rgb(233, 222, 222);
    position: absolute;
    top: 48%;
    left: 0;
    z-index: 10;
    transform: translateY(-50%);
  }

  &__bg1 {
    width: 200px;
    height: 200px;
    background: rgb(251, 246, 146);
    @include mq("tab") {
      flex-direction: column;
      width: 100px;
      height: 100px;
    }
    @include mq() {
      width: 50px;
      height: 50px;
    }
  }
  &__bg2 {
    background: rgb(112, 188, 238);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 2%;
    @include mq("tab") {
      left: 5%;
      flex-direction: column;
      width: 50px;
      height: 50px;
    }
    @include mq() {
      width: 25px;
      height: 25px;
      left: 4%;
    }
  }
}
