@use './mixin' as *;
@use './color' as *;
@use './variable' as *;
/**
    リセットと初期設定を両方記載
    共通パーツの指定 section__area section__title inner など
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
$ff-noto-sans-japanese : 'Noto Sans JP', sans-serif;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,body {
    padding: 0;
    margin: 0;
}

body {
    color :#333;
    font-size: 2rem;
    font-family: $ff-noto-sans-japanese;
    letter-spacing: .2rem;
    @include mq() {
        font-size: 1.2rem;
        letter-spacing: .5rem;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,
ul,li,ol,small,b,a,
strong,dl,dt,dd {
    padding: 0;
    margin: 0;
}

ul,ol {
    list-style: none;
}

.section__title {
    font-weight: bold;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 80px;
    position:relative;
    padding-bottom: 40px;
    border-radius: 999px 999px 0 0;
    background: lightblue;

    &:nth-child(2n) {
        border-radius: 0 999px  0 999px ;
    }
    
    span {
        position: relative;
        position: absolute;
        content:'';
        bottom: 0;
        left: 50%;
        transform:translateX(-50%);
        font-size: 1.6rem;

        &::before {
            position:absolute;            
            content:'';
            width: 100%;
            top: -30%;
            left: 0;
            height: 4px;
            background: #fff;
            border-radius: 999px;
            @include mq() {
                top: -40%;
                height: 2px;
            }
        }
        
        @include mq() {
            font-size: 1rem;
        }
    }


    @include mq('tab') {
            
    }
    @include mq() {
        font-size: 2.4rem;
        margin-bottom: 30px;
        margin-top: 32px;
        padding-bottom: 30px;
    }
}

.section__area {
    padding: 100px 0;
    &:nth-child(2n + 1) {
        background: lightyellow;
    }
    &:nth-child(2n) {
        background:lightgreen;
    }
    @include mq() {
        padding: 10px 10px;
        &:not(:first-of-type) {
            margin-top: 40px;
        }
    }
}

.inner {
    
    max-width: $w100;
    margin: $marginCenter;

    @include mq( 'pc' ) {
        width: $innerHeight;
    }

    @include mq() {
        width: $innerWidth;
    }
}

a {
    text-decoration: none;
    color : $font-base-color;
}